!!!
%html
  %head
    %title AddressBook
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    = render 'layouts/partials/header'
    .container

      = render 'layouts/partials/flash'

      = yield

    = render 'layouts/partials/footer'
